@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;400&display=swap');


body {
    background-image: url("background.png");
    background-size: 100%;
}


@media (min-width: 414px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }


    .nav {
        display: flex;
        text-align: center;
        flex-direction: column;
        text-decoration: none;
    }

    .nav-text {
        font-size: 30px;

    }

    .nav-text-milano {
        font-size: 30px;
        color: #fff;
        text-decoration: none;
    }

    .nav-text-holidays {
        font-size: 30px;
        color: #fff;
        text-decoration: none;
    }

    .nav-contacts {
        padding: 10px 0 20px 0;

    }

    .nav-contacts-mail {
        text-decoration: none;
        color: white;
        font-size: 18px;
        line-height: 18px;
    }

    .nav-contacts-number {
        text-decoration: none;
        color: white;
        font-size: 18px;
        line-height: 18px;
    }

    .main-content-wrapper {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .main-content-box {
        padding: 20px 0 0px 0;
    }

    .hover-details {
        font-size: 20px;
    }

    .hover-info {
        font-size: 20px;
    }
    .main-content-hover{
        display: none;
    }

    .main-content-box:hover .main-content-hover {
        background-color: #F26522;
        display: flex;
        transition: 0.7s top, 0.7s visibility;
    }

}


@media (min-width: 1200px) {
    .wrapper {
        width: 1023px;
        margin: 0 auto;
    }

    .nav {
        display: flex;
        margin-top: 51px;
        justify-content: space-between;
    }

    .nav-logo {
        font-family: Roboto, sans-serif;
        display: flex;
        width: 201px;
        height: 51px;
        color: white;
    }

    .nav-logo-image {
        display: inline-block;
    }

    .nav-text {
        margin-left: 8px;
        margin-top: 3px;
    }

    .nav-text-milano {
        font-weight: 700;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 29px;

    }

    .nav-text-holidays {
        font-weight: 700;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 18px;
        line-height: 18px;
    }

    .nav-contacts {
        /* Данные вписаны в 14 строке */

    }

    .nav-contacts-mail {
        display: flex;
        text-decoration: none;
        color: white;
        font-size: 18px;
        line-height: 18px;
        justify-content: flex-end;
    }

    .nav-contacts-number {
        display: flex;
        text-decoration: none;
        color: white;
        font-size: 18px;
        line-height: 18px;
        justify-content: flex-end;
    }

    .main-content-wrapper {
        color: #FFFFFF;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 37px 61px;


    }

    .main-content {
        margin-top: 22px;

    }

    .main-content-box {

    }

    .image-menu {
        width: 300px;
        height: 220px;;
    }

    .description {
        display: flex;
        justify-content: center;
        font-family: Roboto, sans-serif;
        font-size: 18px;
        padding-top: 20px;
    }

    .item3 {
        margin-left: 1px;
    }

    .item5 {
        margin-left: 3px;
    }

    .item6 {
        margin-left: 2px;
    }

    .footer {
        display: flex;
        justify-content: center;
        margin-top: 49px;
        margin-bottom: 15px;
    }


    .nav-text > a:hover {
        color: #F26522;
        cursor: pointer;

    }

    .nav-contacts > a:hover {
        color: #F26522;
        cursor: pointer;
    }

    .copyright {
        /*color: #FFFFFF;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 12px;*/
    }

    .footer {
        color: #FFFFFF;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 12px;

    }

    .main-content-box {
        position: relative;
        overflow: hidden;
    }

    .main-content-hover {
        width: 100%;
        height: 55px;
        background-color: #F26522;
        display: flex;
        align-items: flex-end;
        position: absolute;
        top: 300px;
        transition: 0.7s top, 0.7s visibility;
    }

    .main-content-box:hover .main-content-hover {
        top: 166px;
    }

    .main-content-box:hover .description {
        color: #F26522;
    }

    .hover-from {
        margin-bottom: 8px;
        font-family: Roboto, sans-serif;
        margin-left: 16px;
        margin-top: 7px;
        font-size: 10px;
    }

    .hover-price {
        font-family: Roboto, sans-serif;
        font-size: 20px;
        margin-left: 16px;
        margin-bottom: 12px;
    }

    .hover-details {
        margin-left: 128px;
        display: flex;
        margin-bottom: 12px;
    }

    .hover-details-text {
        font-family: Roboto, sans-serif;
    }

    .hover-details-text:after {
        content: ">";
        margin-left: 16px;
    }

    .hover-details-text-icon {
        margin-left: 12px;
    }
}