.header {

  &__wrapper {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    display: flex;
    align-items: center;

    width: 100%;
    height: 100px;
  }

  &__options {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: end;
    width: 100%;
    height: 100px;
    margin-right: 20px;

    &-description {
      margin-right: 50%;
      color: white;
      font: 700 normal 2.5em 'tahoma';
      text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
    }

    &-fav {
      width: 40px;
      height: 40px;
      margin-right: 20px;

    }

    &-cart {
      width: 40px;
      height: 40px;
    }
  }

}