@media (min-width:320px) {
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 26px;
    font-family: Roboto, sans-serif;
}
    .header__navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 23px 0;
    }
    .header__menu {
        position: absolute;
        top: 36px;
        right: 0;
    }

    .header__menu.header__menu--hidden {
        display: none;
    }
    .header__main-image {
        -o-object-fit: contain;
        object-fit: contain;
        width: 100%;
    }
    .header__menu-standard {
        display: none;
    }
    .recent-posts__container {
        padding-top: 38px;
        padding-bottom: 39px;
    }
    .recent-posts__title {
        font-size: 14px;
        line-height: 22px;
        text-transform: uppercase;
        font-weight: 700;
        color: #4e4e4e;
        margin-bottom: 23px;
    }
    .recent-posts__grid-container {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        row-gap: 30px;
    }
    .recent-posts__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .recent-posts__wrapper--hidden {
        display: none;
    }
    .recent-posts__image {
        width: 160px;
    }
    .recent-posts__content {
        padding-top: 11px;
    }


.content__main-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    color: #4e4e4e;
}
.content__comments-wrapper {
    font-size: 11px;
    line-height: 20px;
    color: #7c7c7c;
}
.content__author-link {
    text-decoration: none;
    color: inherit;
}
.content__comments-link {
    text-decoration: none;
    color: inherit;
}
.content__separator {
    display: inline-block;
    margin: 0 4px;
}
.content__text {
    margin-top: 5px;
    font-size: 14px;
    line-height: 26px;
    color: #5c5c5c;
}
.content__text--hidden {
    display: none;
}
.instagram-short__container {
    padding-top: 42px;
    padding-bottom: 42px;
}
.instagram-short__title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 13px;
}
.instagram-short__title {
    text-transform: uppercase;
    color: #4e4e4e;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
}
.instagram-short__link {
    text-decoration: none;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4e4e4e;
}
.instagram-short__link--hidden {
    display: none;
}
.instagram-short__images-wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
}
.instagram-short__image {
    width: 95%;
    display: block;
}
.instagram-short__image--hidden {
    display: none;
}
.instagram-short__image--hidden-last {
    display: none;
}
.instagram-short__title-hidden-text {
    display: none;
}
.footer {
    background-color: #000;
}
.footer__container {
    padding: 36px 23px 47px;
    text-align: center;
}
.footer__title {
    color: #fefefe;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 8px;
}
.footer__discription {
    font-size: 12px;
    line-height: 20px;
    color: #b9b9b9;
}
.footer__additional-text {
    display: none;
}
.footer__social-media-wrapper {
    margin: 25px 0;
}
.footer__social-media-link {
    text-decoration: none;
}
.footer__contacts {
    font-size: 14px;
    line-height: 24px;
    color: #b9b9b9;
}
.footer__delimiter {
    display: block;
}
.menu-btn {
    position: relative;
    width: 44px;
    padding: 13px;
    background: #000;
    border: none;
    cursor: pointer;
}
.menu-btn:active, .menu-btn:focus {
    outline: 0;
}
.menu-btn:after {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 12px;
    background: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    opacity: 0;
}
.menu-btn__icon {
    position: relative;
    width: 17px;
    height: 10px;
    margin: 0 auto;
    cursor: pointer;
}
.icon {
    position: absolute;
    top: 0;
    left: 0;
}
.icon--menu span {
    display: block;
    width: 17px;
    height: 2px;
    background: #fff;
    -webkit-transition: all .18s;
    -o-transition: all .18s;
    transition: all .18s;
    -webkit-transition-timing-function: cubic-bezier(.17, .67, .42, 1.36);
    -o-transition-timing-function: cubic-bezier(.17, .67, .42, 1.36);
    transition-timing-function: cubic-bezier(.17, .67, .42, 1.36);
    -webkit-transition-delay: .05s;
    -o-transition-delay: .05s;
    transition-delay: .05s;
}
.icon--menu span:not(last-child) {
    margin-bottom: 2px;
}
.icon--close {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: all .18s;
    -o-transition: all .18s;
    transition: all .18s;
    -webkit-transition-delay: .08s;
    -o-transition-delay: .08s;
    transition-delay: .08s;
    -webkit-transition-timing-function: cubic-bezier(.17, .67, .42, 1.36);
    -o-transition-timing-function: cubic-bezier(.17, .67, .42, 1.36);
    transition-timing-function: cubic-bezier(.17, .67, .42, 1.36);
    opacity: 0;
}
.icon--close span {
    position: relative;
    display: block;
    width: 17px;
    height: 2px;
    background: #fff;
}
.icon--close span:nth-of-type(1) {
    top: 4px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icon--close span:nth-of-type(2) {
    top: 2px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.is--active .icon--menu span {
    width: 0;
}
.is--active .icon--close {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.is--clicked:after {
    -webkit-animation: btnClick .35s;
    animation: btnClick .35s;
    -webkit-animation-timing-function: cubic-bezier(.17, .67, .42, 1.36);
    animation-timing-function: cubic-bezier(.17, .67, .42, 1.36);
}
@-webkit-keyframes btnClick {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        opacity: .35;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}@keyframes btnClick {
     0% {
         opacity: 0;
         -webkit-transform: scale(0);
         transform: scale(0);
     }
     50% {
         opacity: .35;
         -webkit-transform: scale(1);
         transform: scale(1);
     }
     100% {
         opacity: 0;
         -webkit-transform: scale(0);
         transform: scale(0);
     }
 }.sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
  }
.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    background-color: #f5f5f5;
    width: 182px;
}
.menu__item {
    padding-left: 14px;
    font-size: 11px;
    line-height: 30px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}
.menu__item:hover {
    background-color: #e5e5e5;
}
.menu__link {
    text-decoration: none;
    color: #4e4e4e;
}
.menu__link--active {
    color: #57a4a4;
}

}
@media (min-width:768px) {
    .container {
        padding: 0 80px;
    }
    .header__navigation {
        padding: 42px 0;
    }
    .header__menu-btn {
        display: none;
    }
    .header__menu-standard {
        margin: 0 auto;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .recent-posts__container {
        padding-top: 58px;
        padding-bottom: 60px;
    }
    .recent-posts__wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .recent-posts__wrapper--hidden {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .recent-posts__content {
        padding-top: 0;
        margin-left: 20px;
    }
    .content__main-link {
        font-size: 16px;
    }
    .content__comments-wrapper {
        font-size: 12px;
    }
    .content__text--hidden {
        display: block;
    }
    .instagram-short {
        background-color: #f7f7f7;
    }
    .instagram-short__container {
        padding-top: 47px;
        padding-bottom: 50px;
    }
    .instagram-short__title-wrapper {
        margin-bottom: 35px;
    }
    .instagram-short__title {
        font-size: 16px;
    }
    .instagram-short__link--hidden {
        display: block;
    }
    .instagram-short__images-wrapper {
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
    }
    .instagram-short__image--hidden {
        display: block;
    }
    .instagram-short__title-hidden-text {
        display: inline;
    }
    .footer__container {
        padding: 57px 95px 56px;
    }
    .footer__title {
        margin-bottom: 22px;
    }
    .footer__discription {
        font-size: 16px;
        line-height: 28px;
    }
    .footer__additional-text {
        display: inline;
    }
    .footer__social-media-wrapper {
        margin: 37px 0;
    }
    .footer__contacts {
        font-size: 16px;
        line-height: 26px;
    }
    .footer__delimiter {
        display: inline-block;
        margin: 0 3px;
    }
    .menu__item {
        padding-left: unset;
        line-height: 22px;
        margin: 0 2%}
}@media (min-width:1200px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .header__navigation {
        padding: 45px 0 51px;
    }
    .recent-posts__container {
        padding-top: 66px;
        padding-bottom: 69px;
    }
    .instagram-short__title-wrapper {
        margin-bottom: 24px;
    }
    .instagram-short__image--hidden-last {
        display: block;
    }
    .footer__container {
        padding: 57px 235px 56px;
    }
    .menu__item {
        margin: 0 3%}
}