.modal {
  &__wrapper {
    position: fixed;
    //bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
    z-index: 1;
  }


  &__body {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 500px;
    background-color: #DF4A32;
    padding: 20px;
    border-radius: 10px;
    z-index: 2;


  }

  &__header-wrapper {
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__close {
    text-align: right;
    font-size: 40px;
    color: white;
    cursor: pointer;
    font-weight: lighter;
  }

  &__body h2 {
    color: white;
    text-align: left;
  }

  &__body p {
    color: white;
    text-align: center;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
  }

  &__btn {
    &-yes {
      cursor: pointer;
      background-color: #808080;
      border: 1px solid transparent;
      border-radius: 3px;
      color: white;
      width: 60px;
      margin-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;

    }

    &-no {
      cursor: pointer;
      background-color: #808080;
      border: 1px solid transparent;
      border-radius: 3px;
      color: white;
      width: 60px;
      margin-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;

    }

  }

}

.modal__wrapper.open {
  height: 100%;
  display: block;
}

.modal__wrapper.close {
  height: 0;
  display: none;

}
