/*///////////////////////////////////////////First*/
.head-menu {
    background-image: url("img/background-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu-head-ham {
    width: 1160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-side-fon {
    margin-top: 5px;
    height: 120px;
    display: flex;
    justify-content: center;
    background-color: rgba(73, 71, 63, 0.6);
    width: 100%;

}

.fas-fa {
    margin-left: 5px;
}

.the-ham-logo {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 32px;
    margin-left: 8px;
}

.uppercase-logo {
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 32px;
    font-weight: 700;
}

.image-h {
    display: flex;
    position: relative;
    height: 31px;
    width: 60px;
    background: rgb(0, 208, 175);
    justify-content: left;
    align-items: center;
}

.big-h {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
    margin: 0 15px;
    text-transform: uppercase;
}

.image-h:before,
.image-h:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    left: 0;
}

.image-h:before {
    top: -20px;
    border-bottom: 20px solid rgb(0, 208, 175);
}

.image-h:after {
    bottom: -20px;
    border-top: 20px solid rgb(0, 208, 175);
}

.main-menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.main-menu {
    margin-left: 305px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.menu-link {
    font-family: 'Montserrat', sans-serif;
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    margin: 10px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.menu-link:hover {
    color: #18cfab;
}

.menu-link:hover::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #18cfab;
    position: absolute;
    top: 65px;
}


.second-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-blend-mode: multiply;
    background-color: rgba(255, 255, 255, 0.2);
}

.word-theme {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 360px;
}

.word-theme-color {
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.create {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 79px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 17px;
    background: linear-gradient(to right, #18cfab, white, #18cfab, #00cbf6, #18cfab, white, #18cfab);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 10s ease infinite;
    animation: rainbow 10s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.buy-theme {
    font-family: 'Montserrat', sans-serif;
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    margin-top: 10px;
}

.button-top {
    margin-top: 146px;
    margin-bottom: 244px;
}

.main-button {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
    border-radius: 4px;
    width: 165px;
    height: 60px;
    text-align: center;
    border: none;
    box-shadow: 0 -4px rgba(255, 255, 255, 1);
    text-transform: uppercase;
    margin-right: 14px;
    transition: all .3s;
}

.button-header-green:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4);
    background-color: #00a096;
    transform: translateY(-2px);
    transition: all .3s;
}

.button-header-green {
    background-color: #18cfab;
}

.button-header-blue {
    background-color: #00cbf6;
}

.button-header-blue:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4);
    background-color: #1081d0;
    transform: translateY(-2px);
    transition: all .3s;
}

/*///////////////////////////////////////////Second*/

.benefits {
    width: 100%;
    margin-top: 5px;
    font-family: 'Montserrat';
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.benefits:hover {

}

.our-benefits {
    display: flex;
    height: 377px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 5px;
}

.onclick-menu {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    bottom: 110px;


}

.green-text {
    color: #18CFAB;
}

.black-b {
    background: #1C2A33;
}

.green-b {
    background: #18CFAB;
}

.different-theme {
    background-image: url('img/hand.png');
    background-repeat: no-repeat;
    width: 57.54px;
    height: 97px;
    position: absolute;
    top: 95px;
}

.diamond {
    background-image: url('img/diamond.png');
    background-repeat: no-repeat;
    width: 93px;
    height: 75px;
    position: absolute;
    top: 95px;
}

.lamp {
    background-image: url('img/lamp.png');
    background-repeat: no-repeat;
    width: 62px;
    height: 99px;
    position: absolute;
    top: 85px;
}

.device {
    background-image: url('img/device.png');
    background-repeat: no-repeat;
    width: 102px;
    height: 79px;
    position: absolute;
    top: 95px;
}

.device:hover {
    transform: translateY(-5px);
    transition: all .3s;
}

.lamp:hover {
    transform: translateY(-5px);
    transition: all .3s;
}

.different-theme:hover {
    transform: translateY(-5px);
    transition: all .3s;
}

.diamond:hover {
    transform: translateY(-5px);
    transition: all .3s;
}

/*///////////////////////////////////////////Third*/

.our-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-services {
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
    color: #4e4e4e;
    font-size: 36px;
    position: relative;
}

.main-services::before {
    content: '';
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    top: 170px;
    left: 70px;
    position: absolute;
}

.main-services::after {
    content: '';
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    top: 173px;
    left: 80px;
    position: absolute;
}

.services-menu {
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin-top: 100px;
}

.list-menu {
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    width: 100%;
}

.list-menu-item {
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    font-size: 16px;
}

.li-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100px;
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    height: 70px;
    background-color: rgb(248, 252, 254);
    border: 1px solid rgb(236, 236, 236);
    list-style-type: none;
    position: relative;
}

.li-list:hover {
    color: #fff;
    background-color: rgb(24, 207, 171);
    cursor: pointer;
    border: 1px solid rgb(24, 207, 171);
}

.li-list:hover::after {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(24, 207, 171);
    position: absolute;
    bottom: -10px;
}

.active {
    color: #fff;
    background-color: rgb(24, 207, 171);
    border: 1px solid rgb(24, 207, 171);
}

.active::after {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(24, 207, 171);
    position: absolute;
    bottom: -10px;
}

.content-li {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    height: 140px;
    margin-bottom: 100px;
}

.image-content {
    height: 140px;
}

.content {
    flex-grow: 5;
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
    overflow: hidden;
    margin-left: 20px;
}


/*///////////////////////////////////////////Four*/

.wrapper-purchase {
    background-image: url(img/background-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 476px;
}

.purchase-main-text {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.everything-is-ready {
    margin-top: 127px;
    color: #18CFAB;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    color: #18CFAB;
    align-items: center;
    text-align: center;

}

.preference-is-ready {
    margin-top: 12px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: #D8D8D8;
}

.purchase-button {
    font-family: 'Montserrat';
    width: 168px;
    height: 63px;
    background-color: #18cfab;
    margin-top: 67px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 -4px rgba(255, 255, 255, 1);
}

.button-wrapper {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.purchase-button:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4);
    background-color: #00a096;
    transform: translateY(-2px);
    transition: all .3s;
}

/*///////////////////////////////////////////Five*/
.our-work-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E9EDEF;
}

.our-amazing-work {
    margin-top: 96px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
    position: relative;
    color: #4E4E4E;
}

.our-amazing-work::before {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    left: 120px;
    top: 50px;
}

.our-amazing-work::after {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    left: 137px;
    top: 54px;
}

.our-work-li {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 60px;
    background-color: white;
}

.li-amazing {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    font-size: 14px;
    margin: 0;
    border: 1px solid #DADADA;
    flex-grow: 1;
    list-style-type: none;
    transition: all .7s;
    background: #E9EDEF;
}

.li-amazing:hover {
    color: #18cfab;
    border-top: 2px solid #18cfab;
    cursor: pointer;
}

.active-amazing {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

.amazing-menu {
    width: 600px;
    margin-top: 100px;
}

.image-amazing {
    width: 285px;
    height: 211px;
    width: 100%;
}

.amazing-items {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 70px;
    width: 1160px;
}

.margin-bottom {
    margin-bottom: 230px;
}

.items-image {
    position: relative;
    height: 210px;
    width: 290px;
    margin: 0;
    padding: 0;
}

.load-more {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    border-radius: 4px;
    background-color: #18cfab;
    width: 165px;
    height: 60px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 100px;
    transition: all .3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.load-more:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    background-color: #00a096;
    transition: all .3s;
}

.loader {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    /*float: center;*/
    display: flex;
    /*margin: 0 auto;*/
    margin-top: 61px;
    margin-bottom: 89px;
    border: 10px solid white; /* Light grey */
    border-top: 10px solid #00a096; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;

}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hover-amazing-items {
    display: flex;
    justify-content: center;
    border-top: 3px solid #18cfab;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    background: #E9EDEF;;
    top: 0;
    position: absolute;
    height: 211px;
    width: 100%;
    transition: all .7s;
}

.items-image:hover .hover-amazing-items {
    opacity: 1;
}

.fa-link-circle {
    color: #18cfab;
    font-size: 15px;
}

.fa-plus-button {
    font-size: 16px;
    padding-right: 10px;
}

.search-link {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}


.search-link {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.link {
    color: green;
    border: 2px solid #18cfab;
    /*margin-right: 5px;*/
    background-image: url(img/icon.svg.svg);
    width: 42px;
    height: 42px;
}

.search {
    background-color: #18cfab;
    background-image: url(img/icon-two.png);
    margin-left: 3px;
    width: 42px;
    height: 42px;
}


.hover-creative-design {
    margin-top: 34px;
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.hover-web-design {
    font-family: 'Montserrat', sans-serif;
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    margin-top: 12px;
}

/*////////////////////////////////////Five*/

.breaking-news-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.breaking-news-text {
    margin-top: 82px;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    position: relative;
}

.breaking-news-text::before {
    content: '';
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    top: 50px;
    left: 532px;
}

.breaking-news-text::after {
    content: '';
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    top: 53px;
    left: 542px;
}

.amazing-wrapper {
    margin-bottom: 129px;
    height: 610px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 44px;
}

.image-news {
    position: relative;
}

.amazing1 {
    background-image: url(img/amazing-blog-post1.png.png);
    width: 263px;
    height: 208px;
    position: relative;
}

.amazing2 {
    background-image: url(img/amazing-blog-post2.png.png);
    width: 263px;
    height: 208px;
    position: relative;
}

.amazing3 {
    background-image: url(img/amazing-blog-post3.png.png);
    width: 263px;
    height: 208px;
    position: relative;
}

.amazing4 {
    background-image: url(img/amazing-blog-post4.png.png);
    width: 263px;
    height: 208px;
    position: relative;
}

.amazing5 {
    background-image: url(img/amazing-blog-post5.png.png);
    width: 263px;
    height: 208px;
    position: relative;
}

.amazing6 {
    background-image: url(img/amazing-blog-post6.png.png);
    width: 263px;
    height: 208px;
    position: relative;
}

.amazing7 {
    background-image: url(img/amazing-blog-post7.png.png);
    width: 263px;
    height: 208px;
    position: relative;
}

.amazing8 {
    background-image: url(img/amazing-blog-post8.png.png);
    width: 263px;
    height: 208px;
    position: relative;
}

.top-side {
    background-color: #203E38;
    position: absolute;
    width: 70px;
    height: 68px;
    right: 0;
}

.amazing-blog-wrapper:hover .top-side {
    background-color: #18CFAB;
}

.twelve {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 10px;
}

.mounth {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 10px;
}

.amazing-blog-post {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 3px;
    margin-left: 25px;
    color: #717171;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
}

.amazing-blog-wrapper:hover .amazing-blog-post {
    color: #18CFAB;
}

.bottom-side {
    margin-left: 18px;
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}

.by-admin::after {
    content: "";
    border-right: 1px solid #777777;
    margin-left: 10px;
    height: 3px;


}

.comments {
    margin-left: 10px;
}


/*//////////////////////////////////////////////////////!*Seven*!*/
.what-people-say-wrapper {
    width: 100%;
    background-image: url(img/background-7.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.head-people-text {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.what-people-say {
    position: relative;
    margin-top: 98px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
}


.what-people-say::after {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    left: 235px;
    top: 65px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.what-people-say::before {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    left: 245px;
    top: 69px;

}

.breaking-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.breaking-news-lines::before {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 170px;
    left: 95px;
    position: absolute;
}

.breaking-news-lines::after {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 173px;
    left: 105px;
    position: absolute;
}

.breaking-news-lines {
    padding-top: 80px;
}

.image-news {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    position: relative;
    width: 260px;
    height: 280px;
    background-color: rgb(248, 252, 254);
    cursor: pointer;
}

.image-breaking-news {
    width: 100%;
    height: 208px;
}

.bottom-breaking-news {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(238, 239, 239);
    height: 72px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.top-right-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #203e38;
    height: 70px;
    position: absolute;
    width: 70px;
    top: 0;
    right: 0;
}

.news-title {
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    font-size: 18px;
    font-weight: 700;
}

.vertical-line:after {
    content: '';
    width: 1px;
    height: 14px;
    background-color: #777777;
    top: 40px;
    left: 100px;
    position: absolute;
}

.link-section-note {
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    margin: 0 10px;
}

.top-right-section-date {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
}

.image-news:hover .top-right-section {
    background-color: #18cfab;
}

.image-news:hover .news-title {
    color: #18cfab;
}

.section-image-news {
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1160px;
    margin-bottom: 100px;
}


.description-author {
    font-family: 'Montserrat', sans-serif;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    margin-top: 46px;
    text-align: center;
}

.fa-quote-left-people-say {
    color: #18cfab;
    font-size: 30px;
    margin-top: 105px;
}

.name-author {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    margin-top: 43px;
}

.position-author {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    margin-top: 10px;
}

.mini-circle-photo {

    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 0 4px rgba(31, 218, 181, 0.2);
    transition: all .3s;
    margin: 0 20px;
}

.mini-circle-photo:hover {
    cursor: pointer;
}

.mini-circle-border {
    border: 1px solid #18cfab;
    transform: translateY(-10px);
    transition: all .3s;
}


.border-circle {

}

.authors-main-block {
    width: 1160px;
    position: relative;
}


.image-block-author {
    top: 165px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid #18cfab;
    width: 140px;
    height: 140px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 27px;
    box-shadow: 0 0 0 10px rgba(31, 218, 181, 0.2);
}


.image-author {
    height: 100%;
}

.scroll-block-authors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 260px;
    margin-bottom: 100px;
    width: 480px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(188, 188, 188);
}

.square:hover {
    background-color: #18cfab;
    cursor: pointer;
}

.fa-angle {
    color: white;
    font-size: 13px;
}

.karusel {
    display: flex;
}

/*///////////////////////////////////////////////!*Footer*!*/

.footer-ham {
    width: 100%;
    height: 121px;
    background-color: #22353F;;
}

.footer-text-copy {
    text-align: center;
}

.text-footer {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    margin-top: 48px;
    display: inline-block;
    color: #AEAEAE;

}

.footer-blue {
    color: #18CFAB;

}

/*////////////////////*/

.masonry-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.masonry-head {
    margin-top: 108px;
    width: 1160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.masonry-text {
    position: relative;
    color: black;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}


.masonry-text::before {
    content: '';
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    top: 80px;
    left: 150px;
    position: absolute;
}

.masonry-text::after {
    content: '';
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    top: 83px;
    left: 163px;
    position: absolute;
}


.container {
    background: #00000000;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    width: 1160px;
    position: relative;
}

.card {
    height: 333px;
    width: 100%;
    align-items: center;
    background-size: cover;
    background-position: center;
    border: 5px solid white;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1px;

}

.imagess {
    display: block;
    object-fit: cover;
    width: 376.672px;
    height: 323px;
    position: relative;
    overflow: hidden;
}

.image-b:hover {
    object-fit: cover;
    width: 376.672px;
    height: 323px;
    position: absolute;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.64);
}

.imagess, .image-b, img {
    display: block;
    width: 376.672px;
    height: 323px;
    transition: .5s;
}

.image-b {
    position: absolute;

}

.imagess:hover .image-b {
    top: 200px;
}


.background {
    margin-top: 100px;
    width: 1160px;
    align-items: center;
    background: #00000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
}

.plus-masonry {
    background-color: white;
    border: none;
    height: 25px;
}

.minus-masonry {
    background-color: white;
    border: none;
    height: 25px;

}


.load-more-masonry {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    border-radius: 4px;
    background-color: #18cfab;
    width: 165px;
    height: 60px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    margin-bottom: 100px;
    transition: all .3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 52px;
    display: block;
}

.load-more-masonry:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    background-color: #00a096;
    transition: all .3s;
}

.loaders {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    /*float: center;*/
    display: none;
    margin-top: 52px;
    margin-bottom: 80px;
    border: 10px solid white; /* Light grey */
    border-top: 10px solid #00a096; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: relative;

}