.favorite__title{
  margin: 0 auto;
  text-align: center;
  color: ghostwhite;
  padding-top: 10px ;
  font: 700 normal 1.5em 'tahoma';
  text-shadow: 4px 1px #222324, 1px 4px #222324, 2px 4px #222324;
}

.main__fav--wrapper{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

