$color_1: olive;
$color_2: darkgreen;
$background-color_1: navajowhite;
$background-color_2: red;
$background-color_3: white;

.favorite-list__item {
  width: 220px;
  border: 4px solid darkslateblue;
  border-radius: 5px;
  background-color: $background-color_1;
  margin: 10px;




  &__image {
    width: 100%;
    position: relative;

    &--img {
      width: 220px;
      height: 200px;
      border-bottom: 3px solid darkslateblue;
    }

    &--fav {
      position: absolute;
      right: 1px;

      background-color: $background-color_3;
      height: 25px;
      border-bottom: 3px solid darkslateblue;
      border-left: 3px solid darkslateblue;
      border-radius: 6px;
    }
  }

  &__descriptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &--name {
      margin: 0 auto;
    }

    &--price {
      font-size: 18px;
      font-weight: bold;
      color: $color_2;
    }
  }

  &--button {
    cursor: pointer;
    border: 2px solid darkslateblue;
    height: 30px;
    font-size: 15px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 10px;
    align-items: center;
  }
}

