@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

.header-wrapper {
    background-color: hsla(0, 0%, 0%, 0.25);
    height: 58px;
    display: flex;
    align-items: center;
    margin-bottom: 54px;


}

.header-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    margin-left: 79px;
}
.header-text:hover{
color: hsla(149, 98%, 25%, 1);
}
.header-navigations {
    display: flex;
    align-items: center;
    margin-left: 704px;
    color: #FFFFFF;
}

.date {

}

.mail {
    margin-left: 27px;
}


.compass {
    margin-left: 24px;
}


.header-enter {
    margin-left: 27px;
}

.sign-form {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}
.sign-form:hover{
    color: hsla(149, 98%, 25%, 1);
}

.form-wrapper {
    background-color: #FFFFFF;
    position: relative;
    margin: 0 auto;
    width: 444px;
    height: 584px;
}

.sign-up {
    display: flex;
    align-items: center;
}

.main-sign-up {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 61px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.main-log-in {
    font-family: 'Ubuntu', sans-serif;
    color: hsla(149, 51%, 48%, 1);
    margin-left: 216px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.main-text {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    margin-top: 31px;

}

.green-cube {
    position: absolute;
    top: 29px;
    left: 0;
}

.main-button {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 60px;
}


.facebook-btn {
    position: relative;
    width: 160px;
    height: 48px;
    background-color: hsla(220, 59%, 45%, 1);
    border-radius: 3px;
}
.facebook-btn:hover{
   background-color: hsla(220, 96%, 20%, 1);
}


.facebook-icon {
    position: absolute;
    top: 12px;
    left: 16.77px;

}

.facebook-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: white;
    position: absolute;
    top: 17px;
    left: 67px;
}

.google-btn {
    position: relative;
    margin-left: 4px;
    width: 160px;
    height: 48px;
    background-color: hsla(8, 73%, 54%, 1);
    border-radius: 3px;
}
.google-btn:hover{
    background-color: hsla(8, 90%, 35%, 1);
}
.google-icon {
    position: absolute;
    top: 15px;
    left: 12px;
}


.google-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: white;
    position: absolute;
    top: 17px;
    left: 80px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-top: 11px;

}


.or p:before{
    display: block;
    width: 152px;
    content: '';
    border-bottom: 1px solid hsla(0, 0%, 95%, 1);
    position: absolute;
    top: 50%;
    margin-left: 61px;
}

.or p:after{
    display: block;
    width: 154px;
    content: '';
    border-bottom: 1px solid hsla(0, 0%, 95%, 1);
    position: absolute;
    top: 50%;
margin-left: 232px;

}
.sign-form:before{
    content: '';
    border-left: 1px solid hsla(0, 0%, 100%, 0.9);
    padding-right: 27px;
    height: 19px;

}
.or{
    margin-top: 32px;
    text-align: center;
    width: 100%;
    position: relative;
    color: hsla(0, 0%, 52%, 1);
}

.form-name {
    width: 302px;
    height: 44px;
    margin-bottom: 15px;
    border: 1px solid hsla(0, 0%, 95%, 1);
    border-radius: 4px;
    padding-left: 20px;
}

.form-hover:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}

.form-surmane {
    width: 302px;
    height: 44px;
    margin-bottom: 15px;
    border: 1px solid hsla(0, 0%, 95%, 1);
    border-radius: 4px;
    padding-left: 20px;
}

.form-email {
    width: 302px;
    height: 44px;
    margin-bottom: 15px;
    border: 1px solid hsla(0, 0%, 95%, 1);
    border-radius: 4px;
    padding-left: 20px;
}

.form-password {
    width: 302px;
    height: 44px;
    margin-bottom: 15px;
    border: 1px solid hsla(0, 0%, 95%, 1);
    border-radius: 4px;
    padding-left: 20px;
}

.form-password-confirm {
    width: 302px;
    height: 44px;
    border: 1px solid hsla(0, 0%, 95%, 1);
    border-radius: 4px;
    padding-left: 20px;

}

::placeholder {
    color: hsla(0, 0%, 75%, 1);

}

.form-footer {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 65px;
}

.footer-check {
    border: 1px solid #F2F2F2;
    margin-right: 11px;
    padding: 3px;
}


.footer-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: hsla(0, 0%, 26%, 1);

}

.green-text{
    color: hsla(149, 51%, 48%, 1);
}


/*.custom{
    background-image: url("Vector-ok.svg");
    display: inline-block;
    background-color: white;
    width: 20px;
    height: 20px;


}

.custom::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 14px;
    background-image: url("Vector-ok.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #F2F2F2;
    padding: 3px;
}*/

.footer-green-button{
    background-color: hsla(149, 51%, 48%, 0.8);
    width: 324px;
    height: 46px;
    margin-top: 20px;
   margin-left: 60px;
    border-radius: 4px;
    position: relative;

}
.footer-green-button:hover{
    background-color: hsla(149, 98%, 25%, 1);
}

.footer-button-text{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: white;
    position: absolute;
    top: 16px;
    left: 99px;


}

