@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.image {
    width: 100%;
}

.img {
    margin: 0 auto;
}

.header {
    font-family: Montserrat, sans-serif;
    margin: 0 auto;
}

.list-link {
    color: red;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    padding: 10px;
    justify-content: center;

}

.head-list {
    display: flex;
    justify-content: center;
    padding: 10px 250px 0;

}

.head-text {
    list-style: none;
    margin: 0 auto;
    font-size: 24px;
    font-family: Montserrat;

}

.main{
    font-family: 'Montserrat';
}

.main-slogan {
    text-align: center;
    font-weight: bold;
}

.main-text {
    text-align: center;
}

.btn {
    margin-bottom: 82px;
    margin-top: 66px;


}

.button {
    font-family: Montserrat;
    color: white;
    margin: 0 auto;
    background-color: red;
    text-transform: uppercase;
    padding: 17px 42px;
    border: none;
    font-size: 16px;
    line-height: 12px;
    display: block;
    cursor: pointer;
}

.footer {
    text-align: right;
    margin: 50px 20px;
    font-family: 'Montserrat';
    font-weight: bold;
}