.footer {
  background-color: $footer-background-color;
  &__container {
    padding: 36px 23px 47px;
    text-align: center;
    @include respond-to('medium') {
      padding: 57px 95px 56px;
    }
    @include respond-to('large') {
      padding: 57px 235px 56px;
    }
  }

  &__title {
    color: $footer-title-color;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: $bold-font-weight;
    margin-bottom: 8px;
    @include respond-to('medium') {
      margin-bottom: 22px;
    }
  }

  &__discription {
    font-size: 12px;
    line-height: 20px;
    color: $footer-text-color;
    @include respond-to('medium') {
      font-size: 16px;
      line-height: 28px;
    }
  }

  &__additional-text {
    display: none;
    @include respond-to('medium') {
      display: inline;
    }
  }

  &__social-media-wrapper {
    margin: 25px 0;
    @include respond-to('medium') {
      margin: 37px 0;
    }
  }

  &__social-media-link {
    text-decoration: none;
  }

  &__contacts {
    font-size: 14px;
    line-height: 24px;
    color: $footer-text-color;
    @include respond-to('medium') {
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__delimiter {
    display: block;
    @include respond-to('medium') {
      display: inline-block;
      margin: 0 3px;
    }
  }
}