.header {
  &__navigation {
    display: flex;
    justify-content: flex-end;
    padding: 23px 0;
    @include respond-to('medium') {
      padding: 42px 0;
    }
    @include respond-to('large') {
      padding: 45px 0 51px;
    }
  }
  &__menu {
    position: absolute;
    top: 36px;
    right: 0;

  }
  &__menu.header__menu--hidden {
    display: none;
  }
  &__main-image {
    object-fit: contain;
    width: 100%;
  }
  &__menu-btn {
    @include respond-to('medium') {
      display: none;
    }
  }
  &__menu-standard {
    display: none;
    @include respond-to('medium') {
      margin: 0 auto;
      width: 100%;
      display: flex;
      justify-content: center;
      // justify-content: space-evenly;

    }
  }
}