.recent-posts {
  &__container {
    padding-top: 38px;
    padding-bottom: 39px;
    @include respond-to('medium') {
      padding-top: 58px;
      padding-bottom: 60px;
    }
    @include respond-to('large') {
      padding-top: 66px;
      padding-bottom: 69px;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: $bold-font-weight;
    color: $posts-title-color;
    margin-bottom: 23px;
  }

  &__grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 30px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    @include respond-to('medium') {
      flex-direction: row;
    }
    &--hidden {
      display: none;
      @include respond-to('medium') {
        display: flex;
      }
    }
  }

  &__image {
    width: 160px;
  }

  &__content {
    padding-top: 11px;
    @include respond-to('medium') {
      padding-top: 0;
      margin-left: 20px;
    }
  }

}

.content {

  &__main-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    font-weight: $bold-font-weight;
    color: $posts-main-link-color;
    @include respond-to('medium') {
      font-size: 16px;
    }
  }

  &__comments-wrapper {
    font-size: 11px;
    line-height: 20px;
    color: $posts-content-comments-color;
    @include respond-to('medium') {
      font-size: 12px;
    }
  }

  &__author-link {
    text-decoration: none;
    color: inherit;
  }

  &__comments-link {
    text-decoration: none;
    color: inherit;
  }

  &__separator {
    display: inline-block;
    margin: 0 4px;
  }

  &__text {
    margin-top: 5px;
    font-size: 14px;
    line-height: 26px;
    color: $posts-content-text-color;

    &--hidden {
      display: none;
      @include respond-to('medium') {
        display: block;
      }
    }
  }

}