@font-face {
    font-family: 'Gilam Thin Italic DEMO';
    src: url('Gilam-ThinItalicDEMO.ttf');

}

html {
    width: 100%;
    overflow: hidden;

}

body {
    width: 100vw;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    background: #171717;

}


.wrapper {
    max-height: 100vh;
    margin: 0 auto;
    max-width: 1460px;;

}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: 30px;


}

.header-logo {


}


.number {
    text-decoration: none;
    margin-left: 800px;
    font-size: 20px;


}

.gold {
    font-size: 20px;
    color: #D6AF76;

}

.main-info {
    margin-top: 0;
}

.white {
    font-size: 20px;
    font-family: Gilam;
    color: #FFFFFF;

}

.contact {
    font-family: Gilam;
    text-decoration: none;
    margin-top: 46px;
    border: 1px solid #D6AF76;
    padding: 10px 25px 10px 25px;
    margin-bottom: 47px;
    color: #D6AF76;
    font-size: 20px;


}

.phone {
    text-decoration: none;


}

.number {
    color: #E4B564;
    text-decoration: none;

}


.main-content {
    margin-top: 128px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;


}

.about {
    max-width: 1460px;
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;
}

.head-text {
    font-family: "Gilam Thin Italic DEMO";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.text {
    font-family: 'Gilam Thin Italic DEMO';
    max-width: 1182px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 41px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;

}


.content-box {
    max-width: 1460px;
    height: 963px;
    margin: 0 auto;
    padding: 0;
    margin-top: 41px;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 27px;
    padding-bottom: 131px;

}

.item-1 {
    font-family: 'Gilam Thin Italic DEMO';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #634F2C;
}

.item-2 {
    grid-column: span 2;
    font-family: 'Gilam Thin Italic DEMO';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #B4A385;
    margin-left: 9px;
}

.item-3 {
    font-family: 'Gilam Thin Italic DEMO';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #E4B564;
}

.item-4 {
    font-family: 'Gilam Thin Italic DEMO';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #635A4A;
    grid-column: span 2;
}

.item-5 {
    font-family: 'Gilam Thin Italic DEMO';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #B08C4D;
    grid-column: span 2;
    margin-left: 5px;
}

.about-2 {
    font-family: 'Gilam Thin Italic DEMO';
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.container {
    height: 1019px;
    margin: 0 auto;

}

.list {
    display: flex;
    margin: 0;
    justify-content: start;
    align-items: start;
    color: white;
    font-size: 20px;


}

.list-text {
    font-family: 'Gilam Thin Italic DEMO';
    position: absolute;
    top: 44px;
    left: 51px;
    color: white;
    list-style: none;
    text-decoration: none;
    width: 302px;
}

.bold {
    font-family: 'Gilam Thin Italic DEMO';
    font-weight: bold;
}

.black {
    color: black;
}

.our_vehicle {
    position: relative;
    display: grid;
    margin: 90px 0 200px;
    /*max-height: 897px; */
    max-width: 1460px;
    max-height: 900px;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-column-gap: 29px;
    grid-row-gap: 24px;


    grid-template-areas:
            "one two three"
             "one two six"
    "four two six"
    "four five six"
    " four five seven";

}

.vehicle1 {
    position: relative;
    grid-area: one;
    width: 467px;
    height: 313px;
    background-color: #0E0E0E;
}

.vehicle2 {
    position: relative;
    grid-area: two;
    width: 467px;
    height: 439px;
    background-color: #242424;

}

.vehicle3 {
    position: relative;
    grid-area: three;
    width: 467px;
    height: 255px;
    background-color: #1F1F1F;
}

.vehicle4 {
    position: relative;
    grid-area: four;
    width: 467px;
    height: 560px;
    background-color: #1F1F1F;
}

.vehicle5 {
    position: relative;
    grid-area: five;
    width: 467px;
    height: 405px;
    background-color: #E4B564;
    margin-bottom: 20px;


}

.vehicle6 {
    position: relative;
    grid-area: six;
    width: 467px;
    height: 313px;
    background-color: #0E0E0E;
}

.vehicle7 {
    position: relative;
    grid-area: seven;
    width: 467px;
    height: 277px;
    background-color: #0A0909;
}


.content-bottom {
    max-width: 1182px;
    margin: 0 auto;
}

.clients_projects {
    background-color: #0E0E0E;
    margin-top: 191px;
}

.content-bottom {
    max-width: 1460px;
    margin: 0 auto;
    padding-top: 172px;

}

.head-content-bottom {
    display: flex;
    margin-bottom: 72px;

}

.bottom-main {
    color: white;
    font-weight: 700;
    font-size: 50px;


}

.our_clients {
    margin-top: 61px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
"eid-first mavis arsenal-first"
"arsenal-second set-group eid-second";


}

.project-item {
    width: 487px;
    height: 391px;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;

}

.clients-item1 {
    grid-area: eid-first;
    width: 487px;
    height: 391px;
    background: #634F2C;
    text-align: center;
    justify-content: center;
}

.clients-item2 {
    grid-area: mavis;
    width: 487px;
    height: 391px;
    background: rgba(232, 210, 171, 0.76);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}

.project-text {
    font-family: "Gilam Thin Italic DEMO";
    color: white;
    font-size: 22px;
    text-decoration: none;
    margin-top: 16px;
    line-height: 28px;
    text-align: center;
}

.clients-item3 {
    grid-area: arsenal-first;
    width: 487px;
    height: 391px;
    background: #E4B564;
}

.clients-item4 {
    grid-area: arsenal-second;
    width: 487px;
    height: 391px;
    background: #635A4A;

}

.head-content-bottom {
    align-items: center;
}

.button_bottom {
    margin-left: 683px;
    border: 1px solid #E4B564;
    text-decoration: none;
    font-size: 18px;
    color: #E4B564;
    padding: 10px 39px 10px 40px;

}

.clients-item5 {
    grid-area: set-group;
    width: 487px;
    height: 391px;
    background: #B08C4D;
}

.clients-item6 {
    grid-area: eid-second;
    width: 487px;
    height: 391px;
    background: #634F2C;
}

.footer-background {
    width: 100%;
    color: #E5E5E5;
    height: 238px;
}