.menu-btn {
  position: relative;
  width: 44px;
  padding: 13px;
  background: $btn-background-color;
  border: none;
  cursor: pointer;
  &:active, &:focus {
    outline: none;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 12px;
    background: $btn-items-background-color;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: all 0.2s;
    opacity: 0;
  }
  &__icon {
    position: relative;
    width: 17px;
    height: 10px;
    margin: 0 auto;
    cursor: pointer;
  }
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
}

.icon--menu {
  span {
    display: block;
    width: 17px;
    height: 2px;
    background: $btn-items-background-color;
    transition: all 0.18s;
    transition-timing-function: $transition;
    transition-delay: 0.05s;
    &:not(last-child) {
      margin-bottom: 2px;
    }
  }
}

.icon--close {
  transform: scale(0);
  transform-origin: center center;
  transition: all 0.18s;
  transition-delay: 0.08s;
  transition-timing-function: $transition;
  opacity: 0;

  span {
    position: relative;
    display: block;
    width: 17px;
    height: 2px;
    background: $btn-items-background-color;
    &:nth-of-type(1) {
      top: 4px;
      transform: rotate(45deg);
    }
    &:nth-of-type(2) {
      top: 2px;
      transform: rotate(-45deg);
    }
  }
}

.is--active {
  .icon--menu {
    span {
      width: 0;
    }
  }
  .icon--close {
    transform: scale(1);
    opacity: 1;
  }
}

.is--clicked {
  &:after {
    animation: btnClick 0.35s;
    animation-timing-function: $transition;
  }
}

@keyframes btnClick {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.35;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}