.menu {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: $menu-background-color;
  width: 182px;
  &__item {
    padding-left: 14px;
    font-size: 11px;
    line-height: 30px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    &:hover {
      background-color: $menu-item-background-color-hover;
    }
    @include respond-to('medium') {
      padding-left: unset;
      line-height: 22px;
      margin: 0 2%;
    }
    @include respond-to('large') {
      margin: 0 3%;
    }
  }
  &__link {
    text-decoration: none;
    color: $menu-item-color;
    &--active {
      color: $menu-link-color-active;
    }
  }
}