.btn{
  border: 5px solid transparent;
  color: white;
  cursor: pointer;
  padding: 20px ;
  margin: 20px ;
  border-radius: 40px;
  font-weight: bold;
  text-transform: uppercase;
  width: 222px;


  &__wrapper{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

  }
}
