* {
    margin: 0;
    padding: 0
}

body {
    background: #000;
    position: relative
}

canvas {
    display: block;
    position: absolute
}

.check {
    font-family: 'Special Elite', cursive;
    height: 30px;
    top: 30px;
    left: 43%;
    position: relative;
    float: start;
    color: black;
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,0.7819502801120448) 0%, rgba(11,96,29,0.7987570028011204) 100%);
}

.fbi{
    font-family: 'Special Elite', cursive;
    top: 100px;
    left: 27%;
    color: white;
    position: relative;
}

.listIp{
    font-family: 'Special Elite', cursive;
    top: 120px;
    left: 20px;
    color: greenyellow;
    position: relative;
    padding-bottom: 10px;
    list-style-type: none;

}