@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    text-decoration: none;
}

.changeCo {
    display: flex;
    align-items: center;

}

#color {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.5382528011204482) 0%, rgba(121,52,9,0.5046393557422969) 47%, rgba(128,0,255,0.27494747899159666) 100%);    width: 100px;
    height: 40px;
    margin-left: 850px;
}

.text {
    color: black;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    line-height: 94px;
    align-items: flex-end;
    text-align: center;
}

.blue {
    color: deepskyblue;
}

.navbar {
    background-color: #35444F;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    width: 100%;
    margin-top: 38px;

}

.functional {
    border-left: 1px solid white;
}

.navbar-text {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-text-list {
    display: block;
    border-right: 1px solid white;
    padding: 27px 28px;
}

.nav-text-list:hover {
    background-color: #222F3A;
}

.nav-text-list-link {
    text-decoration: none;
    color: white;
}

.widget {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.widget-list {
    list-style: none;
}

.left-menu {
    min-width: 344px;
    border: 1px solid #DBDBDB;
}

.widget-list-:hover {
    background-color: #DBDBDB;
}

.widget-list-text:hover {
    color: #35444F;
    font-weight: bold;
    margin-left: 15px;
    background-color: #DBDBDB;

}

.widget-list-text {
    padding: 27px 38px;
}

.widget-list-text-link {
    text-decoration: none;
    color: #485863;
    font-size: 27px;
    font-family: Roboto, sans-serif;
}

.article-wrapper {
    margin-left: 52px;
}

.image-wrapper {
    border: 1px solid #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px;
}

.article-text {
    font-size: 18px;
    line-height: 24px;
    margin-top: 37px;
    font-family: Roboto, sans-serif;
}

.footer {
    margin-top: 54px;
    margin-bottom: 30px;
    background-color: rgba(99, 105, 110, 0.48);
    justify-content: space-between;
    display: flex;
}

.nav-footer {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-footer-text {
    padding: 20px;
}

.nav-footer-text-link {
    text-decoration: none;
    color: black;
    font-size: 28px;
    line-height: 28px;
    font-family: Roboto, sans-serif;

}

.nav-footer-text-link:hover {
    border-bottom: 3px solid #3181A6;

}

.copyright {
    padding: 20px;
    font-family: 'Roboto' sans-serif;
    font-size: 24px;
    line-height: 24px;
}

