.post-wrapper {
    border: 4mm ridge rgba(211, 220, 50, .6);
    margin: 5px 5px 5px 5px;
    background: rgb(25,0,255);
    background: linear-gradient(90deg, rgba(25,0,255,0.09567577030812324) 0%, rgba(25,0,255,0.0984768907563025) 100%);
}


.post-title {
    margin: 5px 0 0 5px;
    font-size: 24px;
    color: #4d4d4d;
    font-family: sans-serif;
    font-weight: initial;

}

.post-username {
    margin: 5px 0 10px 10px;
    font-size: 24px;
    color: black;
    font-weight: bold;

}

.post-main-text {
    margin: 5px 0 0 5px;
    font-family: sans-serif;
    color: black;

}

.post-delete {
    margin-bottom: 3px;
    box-shadow: 1px 2px 0px 0px #899599;
    background:linear-gradient(to bottom, #f5edee 5%, #bab1ba 100%);
    background-color:#f5edee;
    border-radius:15px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#3a8a9e;
    font-family:Arial;
    font-size:10px;
    padding:7px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
}
.post-delete:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #f5edee 100%);
    background-color:#bab1ba;
}
.post-delete:active {
    position:relative;
    top:1px;
}
